@{
    ViewBag.Title = "Home Page";
}
<hr />
<div class="lowerBody">
    <div class="jumbotron jumboFormat">
        <h2>Top Stories</h2>

        @*  THumbnail that contains a carousel  *@
        <div class="thumbnail">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>

                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner ">
                    <div class="item active centerText">
                        <img class="img-responsive carouselImage" src="~/Images/hangerCloset.jpg" />
                        <h4>Clothes, yadda yadda</h4>
                    </div>

                    <div class="item centerText ">
                        <img class="img-responsive carouselImage" src="~/Images/folded-business-shirts-17207761.jpg" />
                        <h4>Colors that match and stuff</h4>
                    </div>

                    <div class="item centerText">
                        <img class="img-responsive carouselImage" src="~/Images/shoesCuffBelt.jpg" />
                        <h4>Hang up your clothes, slob</h4>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="jumbotron jumbo2">
            <h1>Front Story Title</h1>
            <h4>
                Date Stuff<br />
                Author Stuff
            </h4>
            <h2>Mini Title</h2>
            <p>
                Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon 
                amaranth tatsoi tomatillo melon azuki bean garlic.  Gumbo beet greens corn soko endive 
                gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion 
                okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.  Turnip greens 
                yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado 
                daikon napa cabbage asparagus winter purslane kale. <br/>
                Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel 
                kombu maize bamboo shoot green bean swiss chard 
                seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss 
                chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean 
                chickweed potato bell pepper artichoke.<br />
                    Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts 
                black-eyed pea prairie turnip leek lentil turnip greens parsnip. Sea lettuce lettuce water chestnut 
                eggplant winter purslane fennel azuki bean earthnut pea sierra leone bologi leek soko chicory celtuce 
                parsley jícama salsify. <br/>
                Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel
                kombu maize bamboo shoot green bean swiss chard
                seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss
                chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean
                chickweed potato bell pepper artichoke.<br />
                Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts
                black-eyed pea prairie turnip leek lentil turnip greens parsnip. Sea lettuce lettuce water chestnut
                eggplant winter purslane fennel azuki bean earthnut pea sierra leone bologi leek soko chicory celtuce
                parsley jícama salsify. 

            </p>

        </div>
    </div>
</div>


