@model IEnumerable<OutfitProject.Models.Bottom>

@{
    ViewBag.Title = "Index";
}
<hr />
<h2>Bottoms</h2>

<p>
    @Html.ActionLink("Would you like to add another Bottom?", "Create")
</p>
<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <h4>@Html.DisplayFor(modelItem => item.BottomName)</h4>
                    <div class="thumbnail thumbBorder">
                        <a href="@Url.Action( "Details","Bottoms",new { id=item.BottomID } )">
                            <img class="indexForm" src="@Html.DisplayFor(modelItem => item.BottomPhoto)">
                        </a>
                    </div>
                </div>

            }

        </div>
    </div>
</div>

    